@{
    ViewBag.Title = "Lesson Report";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>                
            </hgroup>
        </div>
    </section>
}

<section id="lesson-report"></section>


@section scripts {
    <script type="text/javascript" src="~/Scripts/Report/report.lesson.js"></script>
}